In [1]:
import torch
import pandas as pd
from torch.utils.data import DataLoader
from transformers import AutoTokenizer
from custom_data import CustomDataset
import config
from torch.utils.data import Dataset

params = {k:v for k,v in config.__dict__.items() if "__" not in k}

/home/miniconda3/envs/pytorch_p39/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [11]:
class CustomDataset(Dataset):
    def __init__(self,dataframe,tokenizer,args):
        super().__init__()
        self.tokenizer = tokenizer
        self.data = dataframe
        self.args = args
        # self.targets = dataframe[args['LABELS']].values
        self.text_pair = dataframe['pairs']

    def __len__(self):
        return len(self.text_pair)

    def __getitem__(self,idx):
        pairs = self.text_pair.iloc[idx]
        inputs = self.tokenizer.encode_plus(
            pairs,
            max_length = self.args['MAX_LEN'],
            padding='max_length',
            truncation = True,
            return_tensors = "pt"
        )
        ids = inputs['input_ids'].squeeze(0)
        mask = inputs['attention_mask'].squeeze(0)
        token_type_ids = inputs["token_type_ids"].squeeze(0)

        return {
            "input_ids" : ids.long(),
            "token_type_ids" : token_type_ids.long(),
            "attention_mask" : mask.long(),
            
        }

def CustumLoader(params):
    tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")
    test_dataset = pd.read_csv(params["TEST_PRE_DIR"])
    testing_set = CustomDataset(
        test_dataset,
        tokenizer=tokenizer,
        args=params)

    test_dataloader = DataLoader(
        testing_set,
        batch_size = params["BATCH_SIZE"],
        drop_last = True)
        # (16tuple_in,1,450)
    return test_dataloader

In [77]:


class Inference():
    def __init__(self,params):
        self.params = params
        all_checkpoints = os.listdir(params['CHECKPOINT_DIR'])
        checkpoints = torch.load(params["CHECKPOINT_DIR"]+all_checkpoints[-1])
        self.model = BertClassifier()
        self.model.load_state_dict(checkpoints['model_state_dict'])
        self.model.eval()
        self.test_dataloader= CustumLoader(params)

    def predict(self,):
        for batch in self.test_dataloader:
            
    def save(self):
        pass

In [2]:
test_df = pd.read_csv(params["TEST_DIR"])
test_df["TITLE"] = test_df["TITLE"].apply(lambda x : x.lower())
test_df["ABSTRACT"] = test_df["ABSTRACT"].apply(lambda x : x.lower())

In [3]:
# test_df = pd.read_csv(params["TEST_DIR"])
# test_df["TITLE"] = test_df["TITLE"].apply(lambda x : x.lower())
# test_df["ABSTRACT"] = test_df["ABSTRACT"].apply(lambda x : x.lower())

In [4]:
# test_df = test_df.drop("ID",axis = 1)

In [5]:
pairs = list()
for idx in range(len(test_df)):
    pairs.append(tuple(test_df[['TITLE','ABSTRACT']].iloc[idx]))

test_df['pairs'] = pairs

In [7]:
test_df = test_df.drop(['TITLE','ABSTRACT'],axis = 1)

In [8]:
test_df.head()

      ID                                              pairs
0  20973  (closed-form marginal likelihood in gamma-pois...
1  20974  (laboratory mid-ir spectra of equilibrated and...
2  20975  (case for static amsdu aggregation in wlans,  ...
3  20976  (the $gaia$-eso survey: the inner disk interme...
4  20977  (witness-functions versus interpretation-funct...

In [9]:
test_df.to_csv(params["BASE_DIR"]+params["WORKING_DIR"]+"dataset/prep_test_data.csv",index = False)

In [10]:
dataframe = pd.read_csv(params['TEST_PRE_DIR']).head()

      ID                                              pairs
0  20973  ('closed-form marginal likelihood in gamma-poi...
1  20974  ('laboratory mid-ir spectra of equilibrated an...
2  20975  ('case for static amsdu aggregation in wlans',...
3  20976  ('the $gaia$-eso survey: the inner disk interm...
4  20977  ('witness-functions versus interpretation-func...

In [25]:
class CustomDataset(Dataset):
    def __init__(self,dataframe,tokenizer,args):
        super().__init__()
        self.tokenizer = tokenizer
        self.data = dataframe
        self.args = args
        # self.targets = dataframe[args['LABELS']].values
        self.text_pair = dataframe['pairs']

    def __len__(self):
        return len(self.text_pair)

    def __getitem__(self,idx):
        pairs = self.text_pair.iloc[idx]
        inputs = self.tokenizer.encode_plus(
            pairs,
            max_length = self.args['MAX_LEN'],
            padding='max_length',
            truncation = True,
            return_tensors = "pt"
        )
        ids = inputs['input_ids'].squeeze(0)
        mask = inputs['attention_mask'].squeeze(0)
        token_type_ids = inputs["token_type_ids"].squeeze(0)

        return {
            "input_ids" : ids.long(),
            "token_type_ids" : token_type_ids.long(),
            "attention_mask" : mask.long(),
            
        }

def CustumLoader(params):
    tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")
    test_dataset = pd.read_csv(params["TEST_PRE_DIR"])
    testing_set = CustomDataset(
        test_dataset,
        tokenizer=tokenizer,
        args=params)

    test_dataloader = DataLoader(
        testing_set,
        batch_size = params["BATCH_SIZE"],
        drop_last = True)
        # (16tuple_in,1,450)
    return test_dataloader

In [27]:
test_dataloader= CustumLoader(params)

In [28]:
len(test_dataloader)

561

In [29]:
for i in test_dataloader:
    break

In [46]:
model.eval()
input_ids = i['input_ids']
attention_mask = i['attention_mask']
token_type_ids = i["token_type_ids"]

In [47]:
out = model(input_ids,attention_mask,token_type_ids)

In [48]:
out.shape

torch.Size([16, 6])

In [2]:
torch.sigmoid(out[0]).tolist()

NameError: name 'torch' is not defined

In [55]:
pd.read_csv(params['SAMPLE_DIR'])

KeyError: 'SAMPLE_DIR'

In [58]:
pd.read_csv("/home/Ravikumar/Developer/Learning-NLP-with-PyTorch/Chapter - 6 : Exploring transformer variants/dataset/sample_submission.csv")

,ID,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,20973,0,0,0,0,0,0
1,20974,0,0,0,0,0,0
2,20975,0,0,0,0,0,0
3,20976,0,0,0,0,0,0
4,20977,0,0,0,0,0,0
...,...,...,...,...,...,...,...
8984,29957,0,0,0,0,0,0
8985,29958,0,0,0,0,0,0
8986,29959,0,0,0,0,0,0
8987,29960,0,0,0,0,0,0
8988,29961,0,0,0,0,0,0

In [60]:
probs = torch.sigmoid(out[0]).tolist()

In [71]:
one_list = list()
one_list.append(dict(zip(params['LABELS'],[1 if p>0.5 else 0 for p in probs])))

In [72]:
pd.DataFrame(one_list)

,Computer Science,Physics,Mathematics,Statistics,Quantitative Biology,Quantitative Finance
0,1,0,0,1,0,0

In [10]:
import torch
matrix1 = torch.randn(3,16,6)

In [ ]:
one_list